<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
	<a href="/catalog/participants">Participants</a>
	<a href="/catalog/presenter">Presenters</a>
	<a href="/catalog/topic">Topics</a>
	<a href="/catalog/schedule">View Schedule</a>
	<a href="/catalog/session">Sessions</a>
	<a href="/catalog/school">Schools</a>
	<a href="/catalog/room">Rooms</a>
    <h1>{{title}}</h1>
    {{{body}}}
  </body>
</html>