<h1>Participant Details:</h1>
<p>First Name: {{participant.firstName}}</p>
<p>Last Name: {{participant.lastName}}</p>
<p>Address: {{participant.address}}</p>
<p>Email: {{participant.email}}</p>

<a href="/catalog/participants/delete">Delete Current Participant</a>
<a href="/catalog/participants/update">Update Current Participant Details</a>
