<h1>presenters Details:</h1>
<p>First Name: {{presenter.firstName}}</p>
<p>Last Name: {{presenter.lastName}}</p>
<p>Address: {{presenter.address}}</p>
<p>Email: {{presenter.email}}</p>

<a href="/catalog/presenter/delete">Delete Current presenter</a>
<a href="/catalog/presenter/update">Update Current presenter Details</a>
