<div class="container-fluid">
    <div class='row'>
        <p>Delete the following presenter?</p>
    </div>
    <form action="/catalog/presenter/delete" method="POST">
    <button type="submit">Delete</button>
    </form>
</div>